/* CSS declarations go here */
.selectedRoom {
	background-color: #81DAF5;
}



#playerPanel {
	padding-left: 50px;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    line-height:20px;
    background-color:#eeeeee;
    height:700px;
    width:40%;
    float:left;
    padding:5px; 
    background-image: url(images/blankbookpageright.jpg);
}

#builderPanel {
	display:inline-block;
    background-color:#eeeeee;
    width:35%;
    float:center;
    padding-left:5px; 
    margin-left:20px;
}

#roomListPanel {
	background-color:#eeeeee;
	line-height:30px;
	float: right;
	width: 22%;
}

li.roomSelect {
	line-height:1;
	list-style-position:outside;
    border: 1px solid black;
    
}

li.teleportTo {
}

ul {
    list-style-type: none;
}
