/* CSS declarations go here */
.selectedRoom {
	background-color: #81DAF5;
}

input#userEmail {
    background-color: transparent; 
    border-style: solid; 
    border-width: 0px 0px 1px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

input#userPassword {
    background-color: transparent; 
    border-style: solid; 
    border-width: 0px 0px 1px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#playerPanel {
	padding-left: 50px;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    line-height:20px;
    background-color:#eeeeee;
    height:700px;
    width:40%;
    float:left;
    padding:5px; 
    background-image: url(images/blankbookpageright.jpg);
}

#loginTitle {
    padding-left: 50px;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    line-height:20px;
    background-color:#eeeeee;
    height:700px;
    width:40%;
    float:left;
    padding:5px; 
    background-image: url(images/blankbookpageright.jpg);
}

#loginTitleDiv {
    position: relative;
    top: 30%;
}

#playerPanel {
    padding-left: 50px;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    line-height:20px;
    background-color:#eeeeee;
    height:700px;
    width:40%;
    float:left;
    padding:5px; 
    background-image: url(images/blankbookpageright.jpg);
}
     #roomTitle {
        height:10%
     }

     #roomDesc {
        height:20%;
     }

     #roomContents {
        height:40%;
     }

     #compass {
        height:15%;
     }

     #chatbox {
        height:7%
     }
input#chatTextInput {
    background-color: transparent; 
    border-style: solid; 
    border-width: 1px 1px 1px 1px; 
}






#builderPanel {
	display:inline-block;
    background-color:#eeeeee;
    width:33%;
    float:center;
    padding-left:5px; 
    margin-left:20px;
}

#roomListPanel {
	background-color:#eeeeee;
	line-height:30px;
	float: right;
	width: 21%;
}

li.roomSelect {
	line-height:1;
	list-style-position:outside;
    border: 1px solid black;
    
}

li.teleportTo {
}

ul {
    list-style-type: none;
}

table#compassTable {
    font-weight: 300;
    font-size: 150%;
    font-style: italic;
}

td.origin {
    font-weight: 500;
    font-size:100%;
    font-style: normal;
}



input.placeholder {
    text-align: center;
}




